.Dashboard-wrapper {
  background: #00ccff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;

  .Dashboard {
    padding: 20%;


    h1 {
      margin: 0;

      small {
        color: white;
      }
    }
  }

}